<% include ../views/partials/header %>

<h3>Add Disease</h3>
<form method = "POST" action ="/disease/add">
    <input type = "text" name = "name" placeholder= "Name" >
    <input type = "text" name = "description" placeholder= "Description" >
    <input type = "submit" value = "Submit">
</form>

<% include ../views/partials/footer %>