<% include ../views/partials/header %>

<h3>Add Relationship Between Disease and Treatment</h3>
<form method = "POST" action ="/relationship/addS">
    <input type = "text" name = "name1" placeholder= "Disease Name" >
    <input type = "text" name = "name2" placeholder= "Symtom Name" >
    <input type = "submit" value = "Submit">
</form>

<% include ../views/partials/footer %>