<% include ../views/partials/header %>


<h3>Add New Disease</h3>
<form method = "POST" action ="/disease/add">
    <input type = "text" name = "name" placeholder= "Name" >
    <input type = "submit" value = "Submit">
</form>


<h3>Add New Treatment</h3>
<form method = "POST" action ="/treatment/add">
    <input type = "text" name = "name" placeholder= "Name" >
    <input type = "submit" value = "Submit">
</form>

<h3>Add Relationship Between Disease and Treatment</h3>
<form method = "POST" action ="/relationship/add">
    <input type = "text" name = "name1" placeholder= "Disease Name" >
    <input type = "text" name = "name2" placeholder= "Treatment Name" >
    <input type = "submit" value = "Submit">
</form>


<h3> Disease</h3>
<div class="row">
    <% disease.forEach(function(disease){ %>
        <div class="col-md-2">
            <div class="well well-lg"><i class="fa fa-stethoscope" style="font-size:26px"></i><a href = "/disease/<%= disease.id %>" class="btn btn-info" role="button"><%= disease.name %></a></div>
        </div>
    <% }) %>
</div>
</br></br>


<h3> Treatment</h3>
<div class="row">
    <% treatment.forEach(function(treatment){ %>
        <div class="col-md-2">
            <div class="well well-lg"><i class='fas fa-band-aid' style='font-size:24px'></i><a href = "/treatment/<%= treatment.id %>" class="btn btn-info"><%= treatment.name %></a></div>
        </div>
    <% }) %>
</div>
<% include ../views/partials/footer %>